{% extends "blog_list.html" %}

{% block content %}

<div class="post">
			<h2><a href="show.html" title="Cocos2D开发iOS游戏运营开发技巧">{{ article.article_name }}</a></h2>
			<div class="entry">
				<div class="postmetadata">
					 分类: <a title="查看Cocos2D开发的全部文章" href="javascript:">{{ article.cate.cate_name }}</a> 评论数: <a title="Cocos2D开发iOS游戏运营开发技巧" href="javascript:">{{article.comment_count}}</a>条
				</div>
				<p>丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......</p>
				<p>丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......</p>
				<p>丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......</p>
				<p>丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......</p>
				<p>丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......</p>
			</div>
		</div>
		<div class="post_box">
			<div class="authorbio">
				<div class="author_pic">
					<img width="48" height="48" src="/media_root/images/header.png" alt="">
				</div>
				<div class="author_description">
					作者: <a title="由南通阁楼小编发布" href="javascript:">{{ article.artist.author_name}}</a>
				</div>
			</div>
			<div class="author_text">
		该日志由 南通阁楼小编 于2014年07月10日发表，
				你可以在文章底部
				<a href="javascript:">发表评论</a>。
				<br>
		转载请注明文章出处: 
				<a title="本文固定链接 http://dev.microoh.com/wp/?p=11636" href="http://dev.microoh.com/wp/?p=11636">Cocos2D开发iOS游戏运营开发技巧</a><br>
        本文固定连接：
				<a title="本文固定链接 http://dev.microoh.com/wp/?p=11636" href="http://dev.microoh.com/wp/?p=11636">http://dev.microoh.com/wp/?p=11636</a>
		标签: 
				<a rel="tag" href="javascript:">Cocos2D</a>, <a rel="tag" href="javascript:" looyu_bound="1">iOS游戏</a>
			</div>
		</div>

{% endblock %}