<!DOCTYPE html>
<html>
<head>
<title>麦可网</title>
<meta charset="utf-8"/>
<meta name="keywords" content="关键字"/>
<meta name="description" content="描述"/>
<link rel="stylesheet" href="http://localhost/static/css/style.css"/>
</head>
<body>
<div class="header">
	<div class="nav">
		<div class="logo">
			<h1><a href="/" title="麦可网"></a></h1>
		</div>
		<form method="get" class="search-form" action="">
			<input class="search-input" name="s" type="text" placeholder="输入关键字 回车搜索"/>
			<input class="search-submit" type="submit" value="搜索"/>
		</form>
		<ul class="topnav">
			<a href="/">返回首页</a>
			<a href="javascript:" title="麦子学院">麦子学院</a>
			<a href="javascript:" title="Android开发">Android开发</a>
			<a href="javascript:" title="ios开发">ios开发</a>
			<a href="javascript:" title="用户投稿">用户投稿</a>
			<a href="javascript:" title="麦子推荐">麦子推荐</a>
		</ul>
	</div>
</div>
<div class="wrapper">
	<div class="container">

		{% for article in articles %}

		<div class="post">
			<h2><a href="show.html" title="Cocos2D开发iOS游戏运营开发技巧">{{ article.article_name }}</a></h2>
			<div class="entry">
				<div class="postmetadata">
                	作者: <a href="javascript:" title="由南通阁楼小编发布">{{ article.artist.author_name}}</a> 发表日期: 
					<span>{{ article.article_date }}</span>
				</div>
				<div class="thumbnail">
					<a href="javascript:" title="阅读更多Cocos2D开发iOS游戏运营开发技巧"><img src="http://localhost/static/images/7.jpg" alt="阅读更多Cocos2D开发iOS游戏运营开发技巧"/></a>
				</div>
				<p>
					丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享，丁群老师做iOS游戏运营的干货分享，包括游戏内付费，集成adMob广告，统计用户信息，分析用户行为，应用内购买，社交网络，国际化等等。绝对是别的地方看不到的课程，完全是老师的经验分享......
				</p>
				<div class="postmetadata">
                	分类: 
					<a href="javascript:" title="查看Cocos2D中的全部文章">{{ article.cate.cate_name }}</a> 标签: 
					{% for keyword in article.keywords.all %}
					<a href="javascript:">{{keyword.key_name}}</a> , 
					{% endfor %}
					评论数: 
					<a href="javascript:" title="Cocos2D开发iOS游戏运营开发技巧">{{article.comment_count}}</a> 条
				</div>
				<a class="readmore" href="javascript:" title="阅读更多关于Cocos2D开发iOS游戏运营开发技巧">阅读更多&gt;&gt;</a>
			</div>
		</div>
	 	{% endfor %}
	  </div>
	  
	</div>
	<div class="sidebar">
		<ul>
			<li class="widget">
			<h2 class="widgettitle">热门搜索</h2>
			<div class="tagcloud">
				<a href="javascript:" title="7个话题" style="font-size:9.858407079646pt;">Cocos2D</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
				<a href="javascript:" title="7个话题" style="font-size:9.858407079646pt;">Cocos2D</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
				<a href="javascript:" title="60个话题" style="font-size: 15.371681415929pt;">IOS</a>
				<a href="javascript:" title="5个话题" style="font-size: 9.1150442477876pt;">Java</a>
				<a href="javascript:" title="19个话题" style="font-size: 12.336283185841pt;">web前端</a>
				<a href="javascript:" title="8个话题" style="font-size: 10.16814159292pt;">web</a>
			</div>
			</li>
			<li class="widget">
			<h2 class="widgettitle">近期文章</h2>
			<ul>
				<li><a href="javascript:" title="android 进程和线程">android 进程和线程</a></li>
				<li><a href="javascript:" title="软件项目团队沟通桥梁之UML">软件项目团队沟通桥梁之UML</a></li>
				<li><a href="javascript:" title="Windows Phone8之网络编程">Windows Phone8之网络编程</a></li>
				<li><a href="javascript:" title="Android之UI编程">Android之UI编程</a></li>
				<li><a href="javascript:" title="软件项目团队沟通桥梁之UML">软件项目团队沟通桥梁之UML</a></li>
			</ul>
			</li>
			<li class="widget">
			<h2 class="widgettitle">近期评论</h2>
			<ul>
				<li>淘宝羽绒服热卖发表在《<a href="javascript:" title="android 进程和线程">android 进程和线程</a>》</li>
				<li>小阁发表在《<a href="javascript:" title="软件项目团队沟通桥梁之UML">软件项目团队沟通桥梁之UML</a>》</li>
				<li>小阁发表在《<a href="javascript:" title="Windows Phone8之网络编程">Windows Phone8之网络编程</a>》</li>
				<li>猫猫儿发表在《<a href="javascript:" title="Android之UI编程">Android之UI编程</a>》</li>
				<li>小阁发表在《<a href="javascript" title="软件项目团队沟通桥梁之UML">软件项目团队沟通桥梁之UML</a>》</li>
			</ul>
			</li>
			<li class="widget">
			<h2 class="widgettitle">文章归档</h2>
			<ul>
				<li><a href="javascript:" title="2014年七月">2014年七月</a></li>
				<li><a href="javascript:" title="2014年六月">2014年六月</a></li>
				<li><a href="javascript:" title="2014年五月">2014年五月</a></li>
				<li><a href="javascript:" title="2014年四月">2014年四月</a></li>
				<li><a href="javascript:" title="2014年三月">2014年三月</a></li>
				<li><a href="javascript:" title="2014年二月">2014年二月</a></li>
				<li><a href="javascript:" title="2014年一月">2014年一月</a></li>
			</ul>
			</li>
			<li class="widget">
			<h2 class="widgettitle">分类目录</h2>
			<ul>
				<li><a href="javascript:" title="查看麦子学院下的所有文章">麦子学院</a></li>
				<li><a href="javascript:" title="查看Android开发下的所有文章">Android开发</a></li>
				<li><a href="javascript:" title="查看ios开发下的所有文章">ios开发</a></li>
				<li><a href="javascript:" title="查看麦子推荐下的所有文章">麦子推荐</a></li>
			</ul>
			</li>
		</ul>
	</div>
	 ﻿
</div>
<p class="footer">
	 Copyright &copy; 2013-2014 <a target="_blank" href="/">麦可网</a>. Powered by <a target="_blank" href="/">麦可网</a>.
</p>
</body>
</html>